bench/
doc/
examples/
!examples/OC20DRIVER/
!examples/M3GNET/
!examples/CHGNET/
!examples/FAIRCHEM/
!examples/ORB/
!examples/MATTERSIM/
!examples/MACE/
potentials/
!potentials/OC20DRIVER/
!potentials/M3GNET/
!potentials/CHGNET/
!potentials/FAIRCHEM/
!potentials/ORB/
!potentials/MATTERSIM/
!potentials/MACE/
python/
tools/
